.nav__block:after {
    content: '';
    display: table;
    clear: both;
}

.nav__block {

    @media(min-width: 992px) {
        padding-top: 60px;
    }

}

.logo {
    display: none;

    @media(min-width: 992px) {
        padding-top: 12px;
        display: block;
        float: left;
        padding-left: 50px;
    }

    @media(min-width:1600px) {
        padding-left: 150px;
    }
}

.navigation {
    padding: 0;
    display: inline-block;
    float: right;
    padding-right: 150px;
    background-color: transparent;


    .navigation__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: center;

        display: none;
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #333;
        opacity: 0.9;

        @media(min-width: 992px) {
            padding: 0;
            position: static;
            display: inline-block;
            float: right;
            background-color: transparent;
        }

        &--open {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        li {
            margin: 0 0 60px;
            padding: 0;
            list-style-type: none;
            display: block;
            margin-left: auto;
            margin-right: auto;

            &:last-child {
                padding-bottom: 20px;
                padding-top: 20px;
            }

            @media(min-width: 992px) {
                display: inline-block;
                margin: 0;
            }



        }


    }

    a {
        font-size: 24px;
        font-family: 'Roboto';
        font-weight: 400;
        color: #fff;
        margin-right: 0;
        text-decoration: none;
        display: block;
        transition: all 0.3s ease-in;

        @media(min-width: 992px) {
            padding: 0;
            margin-right: 35px;
            display: inline-block;
            font-size: 18px;

        }

        &:hover {
            text-decoration: none;
            color: #5584ff;
        }
    }


}



.navigation .nav-button {
    display: inline-block;
    color: #5584ff;
    font-size: 24px;
    border: 1px solid #233a72;
    padding: 10px 50px 10px 50px;
    border-radius: 50px;
    margin-right: 0;

    @media(min-width: 992px) {
        font-size: 18px;
    }

}

.navigation .nav-button:hover {
    background-color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    transition: all 0.5s linear;
}

.navigation__toggle {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 2;

    @media(min-width: 992px) {
        display: none;
    }
}

.navigation__toggle--fixed {
    position: fixed;
}