.wrap-section-slider {
  width: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  background-image: url("../img/home.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (min-width: 1200px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.slide-item {
  max-width: 510px;
  margin-right: 160px;
  margin-bottom: 80px;
}
.slide-title {
  font-family: "Roboto", sans-serif;
  font-size: 65px;
  color: #fff;
  font-weight: 100;
  padding-bottom: 35px;
}
.slide-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #8492af;
  font-weight: 400;
  padding-bottom: 30px;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
