.footer {
  background-color: #0e1a35;
  padding: 55px 0;
}
.content-wrap {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}
.footer:after {
  content: "";
  display: table;
  clear: both;
}
.copyright {
  text-align: center;
  margin: 15 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #8492af;
  line-height: 1.66;

  @media (min-width: 992px) {
    float: left;
    margin: 0;
    font-size: 18px;
  }
}
.group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (min-width: 992px) {
    flex-direction: row;
    float: right;
  }
}

.footer-nav-link a {
  color: #8492af;
  margin-right: 10px;
  transition: all 0.5s ease-in;

  @media (min-width: 992px) {
    margin-right: 40px;
    text-align: center;
    padding-top: 15px;
    font-size: 18px;
  }

  &:hover {
    color: #fff;
  }
}

.social-icons a {
  color: #8492af;
  font-size: 18px;
  display: inline-block;
  cursor: pointer;
}

.social-icons .fa {
  transition: all 0.5s ease-in;
  margin-right: 20px;

  @media (max-width: 990px) {
    display: inline-block;
    padding-top: 15px;
    padding-left: 0;
  }
}

.fa-facebook:hover {
  color: #3b5998;
}
.fa-twitter:hover {
  color: #55acee;
}
.fa-google-plus:hover {
  color: #dd4b39;
}
